/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
google-cloud-sdk
google-cloud-cli-433.0.1-linux-arm.tar.gz
examples/accountsecret.yaml
tm/
internal/test-data/main.tf.json
gke_gcloud_auth_plugin_cache
kubeconfig
examples/providerconfig/dontpushthis.json
